  <style>
    .nav-link{
      color:whitesmoke !important;
      font-family: monospace;
      font-size: 20px;
    }

    .dropdown-item{
      color:black!important;
      font-family:monospace;
      font-size: 20px;
    }
    a:hover{
      color:seagreen!important;
    }
  </style>
  <nav class="navbar navbar-expand-lg" style="background-color: rgb(19, 35, 103);">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{'/'}}"><i class="fa fa-home" aria-hidden="true"></i> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{'/contactus'}}">Contact</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="{{'/contact'}}">Con</a>
        </li> -->

        <li class="nav-item">
          <a class="nav-link" href="{{'/aboutus'}}">Aboutus</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{'/feedback'}}">Feedback</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{'/predict'}}">Price Prediction</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Registration
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{'/consultant_registration'}}">Consultant</a></li>
            <li><a class="dropdown-item" href="{{'/owner_registration'}}">Owner</a></li>
            <li><a class="dropdown-item" href="{{'/client_registration'}}">Client</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Property Details
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{'/rented_view'}}">Rented Property</a></li>
            <li><a class="dropdown-item" href="{{'/seller_view'}}">Selling property</a></li>
          </ul>
        </li>
       
      
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Login
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{'/client_login'}}">Client</a></li>
            <li><a class="dropdown-item" href="{{'/renter_login'}}">Renter</a></li>
            <li><a class="dropdown-item" href="{{'/seller_login'}}">Seller</a></li>
            <li><a class="dropdown-item" href="{{'/vastu_login'}}">Vastu</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Search
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{'/citywise_property'}}">Citywise Property</a></li>
            <li><a class="dropdown-item" href="{{'/citywise_rentedhouse'}}">Citywise Rented House</a></li>
          </ul>
        </li>


      </ul>        
      
    </div>
  </nav>