{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estate Essentials</title>
    {%include 'ess_app/common/commoncss.html'%}
</head>

<body>
    {%include 'ess_app/common/navbar.html'%}
    <!-- message code start from here -->
{%if messages%}
{%for m in messages%}
<!-- <h2>{{m}}</h2> -->
<div class="text-center" style="margin-left: 25%;margin-top: 10px;">
<div class="alert alert-{{m.tags}} alert-dismissible fade show w-50" role="alert">
    <strong><i class="far fa-smile-beam"></i>{{m}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>

{%endfor%}
{%endif%}


<!-- message code ends here -->

<section class="vh-100" style="background-image: linear-gradient(to right,rgb(198, 198, 236),rgb(198, 198, 236));" >
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
              <div class="card" style="border-radius: 1rem;">
                <div class="row g-0">
                  <div class="col-md-6 col-lg-5 d-none d-md-block">
                    <img src="{%static 'ess_app/images/vastu2.jpg'%}"alt="login form" class="img-fluid" style="height:100%;border-radius: 1rem 0 0 1rem;" />
                  </div>
                  <div class="col-md-6 col-lg-7 d-flex align-items-center">
                    <div class="card-body p-4 p-lg-5 text-black">
      
                      <form method="post" action="/vastu_login/">
                      {%csrf_token%}
      
                        <div class="d-flex align-items-center mb-3 pb-1">
                          <img src="{%static 'ess_app/images/vastu1.png'%}"alt="login form" class="img-fluid" style="height:20%;width:20% ;border-radius: 1rem 0 0 1rem;" />
                          <!-- <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i> -->
                          <span class="h1 fw-bold mb-0">Vastu Login</span>
                        </div>
      
                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
      
                        <div class="form-outline mb-4">
                          <input type="text" id="userid"  name="userid" class="form-control form-control-lg" />
                          <label class="form-label"  for="userid">Email address</label>
                        </div>
      
                        <div class="form-outline mb-4">
                          <input type="password"  name="userpassword" id="password" class="form-control form-control-lg" />
                          <label class="form-label" for="userpassword">Password</label>
                        </div>
      
                        <div class="pt-1 mb-4">
                          <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                        </div>
      
                        <!-- <a class="small text-muted" href="#!">Forgot password?</a> -->
                        <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="{{'/consultant_registration/'}}"
                            style="color: #393f81;">Register here</a></p>
                        <!-- <a href="#!" class="small text-muted">Terms of use.</a>
                        <a href="#!" class="small text-muted">Privacy policy</a> -->
                      </form>
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

     

 {%include 'ess_app/common/footer.html'%}
 {%include  'ess_app/common/commonjs.html'%}
 <script src="{%static 'ess_app/js/validation.js'%}"></script>
</body>
</html>