{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estate Essentials</title>
    {%include 'ess_app/common/commoncss.html'%}
</head>
<body>
    {%include 'ess_app/common/navbar.html'%}
    
    <div class="container mt-5 mb-5">
      <div class="card">
        <div class="row g-2">
          <div class="col-md-4">
            <div class="p-3 text-center border-end">
              <img
                class="rounded-circle"
                width="120"
                src="{%static 'ess_app/images/harsh.jpg'%}"
              />
              <h4 class="mt-2">Hi, I'm Harsh Vardhan Singh. Nice to meet you.</h4>
              <span class="d-flex justify-content-center align-items-center"
                ><small class="margin-right">Python Developer</small
                ><a href = "https://akshitsingh07.github.io/aks.github.io/" target="_blank"><i class="ml-1 fa fa-info-circle text-success"></i
              ></a></span>
              <span class="address-content">Lucknow, Uttar Pradesh, India</span>
              <div class="content-aboutme mt-3 p-3">
                <h1>About Me</h1>
                <span
                  >Since beginning my journey as a Python Developer nearly 1
                  year ago, I'm quiet confident, naturally curious, and
                  perpetually working on improving my chops one design problem
                  at a time.</span
                >
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="p-3">
              <div class="d-flex justify-content-between align-items-center">
                <span class="fw-bold text-success">Portfolio</span>
              </div>
              <div class="portfolio-content mt-3">
                <p id="txtblack">
                  You can also call me a Python Developer or by any other market
                  defined function-title. I'm also a multi-disciplinary maker
                  with over 0-1 years of experiences in wide range of design
                  disciplines, front-end developer, music enthusiast, traveller,
                  photographer and more.
                </p>
                <p id="txtblack">
                  I don't like to define myself by the work I've done. I define
                  myself by the work I want to do. Skills can be taught,
                  personality is inherent. I prefer to keep learning, continue
                  challenging myself, and do interesting things that matter.
                </p>
                <p id="txtblack">
                  Fuelled by high energy levels and boundless enthusiasm, I'm
                  easily inspired and more then willing to follow my
                  fascinations wherever they take me. I'm passionate,
                  expressive, multi-talented spirit with a natural ability to
                  entertain and inspire. I'm never satisfied to just come up
                  with ideas. Instead I have an almost impulsive need to act on
                  them.
                </p>
                <p id="txtblack">
                  My abundant energy fuels me in the pursuit of many interests,
                  hobbies, areas of study and artistic endeavors. I'm a fast
                  learner, able to pick up new skills and juggle different
                  projects and roles with relative ease.
                </p>
                <p id="txtblack">
                  I like to develop expertise in a number of areas over the
                  course of my life and career. I'm currently working remotely
                  with a selected freelance client base and are open for new
                  opportunities.
                </p>
              </div>
              <div class="mt-2">
                <h5>Area of Expertise</h5>
                <div class="">
                  <span class="badge bg-danger mb-1">Python</span>
                  <span class="badge bg-danger mb-1">Django</span>
                  <span class="badge bg-danger mb-1">HTML</span>
                  <span class="badge bg-danger mb-1">CSS</span>
                  <span class="badge bg-danger mb-1">JavaScript</span>
                  <span class="badge bg-danger mb-1">JQuery</span>
                  <span class="badge bg-danger mb-1">AJAX</span>
                  <span class="badge bg-danger mb-1">CSS Bootstrap</span>
                  <span class="badge bg-danger mb-1">PHP</span>
                  <span class="badge bg-danger mb-1">SQL, SQLite</span>
                  <span class="badge bg-danger mb-1">Git</span>
                  <span class="badge bg-danger mb-1">Github</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      
</body>{%include 'ess_app/common/footer.html'%} 
    {%include 'ess_app/common/commonjs.html'%} 
</html>