{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estate Essentials</title>
    {%include 'ess_app/common/commoncss.html'%}
</head>
<body>
    {%include 'ess_app/common/navbar.html'%}
    
    <div class="container" style="font-family:'Times New Roman', Times, serif; font-size: large;"><h1> <u> Estate Essentials </u> </h1> <br>
    <div class="row" style="margin: 5px;">
        <div class=" container-fluid mb-3 col-sm-8 " style="border: 2px solid black;"> 
          <p id="text-black"> 
          Estate Essentials is a web-based platform that connects landlords, tenants, buyers, and sellers
             of real estate properties. By providing a centralized platform for renting, buying, and selling real estate, a rented 
             and buying selling portal can streamline the process, increase the efficiency of transactions, and make it easier for 
             users to find the information they need. Taking house/office /shop on rent is always a better way than purchasing it, 
             if a person   does not have sufficient amount of money. This web portal will give all the details of landlords   
             along with their rented property details in different areas of a city. Any needy person can search these accommodations
              and further communicate with that landowner. Additionally, the use of advanced technologies such as machine learning  
               can help to personalize the experience for users and provide more accurate property.</p> <br>
               In a manual system, communication between buyers, sellers, landlords, and tenants can be slow and time-consuming. This can lead to delays in transactions and lost opportunities.
In a manual system, processes such as property search, negotiations, and payments can be time-consuming and may require multiple steps and interactions. This can lead to delays and increased costs. It can be difficult to verify the authenticity of information about properties, transactions, and agreements. This can lead to confusion and mistrust among parties involved.
Information about properties can become outdated quickly and may not be accurate. This can lead to frustration for buyers, sellers, and renters who are relying on the information to make informed decisions.
Working people who don’t belong to the city, where they have to do job, they always in search of safe house where they can live safely, happily with their loved ones. Working person always try to find out a house near by their office location. Manually these things are very tiresome and frustrating. Similarly, a house owner always wants a reliable tenant
It is also very difficult for the owner to search reliable tenant manually. He/she needs to put a lot off efforts for doing this and for this task they have to pay additionally to property dealers or brokers. A person willing to sell his/her house is also not able to find out suitable customer easily. A manual system may not have the same level of reach and exposure as a web-based platform
To resolve these types of problems this portal has been developed.
This portal will contain all the reliable data of house/shop/office premises. Any use can search these accommodations. This portal will also show the details for buying and selling of constructed property. Agreement details, rules for buying and purchasing according to the norms all things will be displayed on the portal. Sellers, Landlord, buyers all have to get registered on the portal for any kind of communication and action. Vatsu consultant can also get registered to the portal to show the vastu related tips on the portal as well as to provide consultation.ML model will predict the cost of the house which a seller wants to sell or a buyer wants to purchase. <br>
<br>
<h2>Objective: </h2> <br>
•	To put Buyer, sellers, landlords in one roof so that they can be searched and viewed by the needy one on a single click. <br>
•	Providing a platform for the owners to showcase their constructed property details for renting/selling <br>
•	To spread awareness related to renting and selling constructed property so that nobody can misguide any one. <br>
•	Streamline all types of property on this portal. <br>
•	Ease of user for searching accommodation without wondering here and there. <br>
•	No broker requirement. <br>
•	Vastu consultation. <br>
</div>


        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="{%static 'ess_app/images/harsh.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text"><h4>HARSH VARDHAN SINGH</h></p>
                </div>
              </div>

              <div class="card" style="width: 18rem;">
                <img src="{%static 'ess_app/images/adnan.jpeg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text"> <h4>MOHD ADNAN KHAN</h4></p>
                </div>
              </div> 

            </div>
        
      </div>

    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="container mt-5 mb-5">
      <div class="card">
        <div class="row g-2">
          <div class="col-md-4">
            <div class="p-3 text-center border-end">
              <img
                class="rounded-circle"
                width="120"
                src="{%static 'ess_app/images/harsh.jpg'%}"
              />
              <h4 class="mt-2">Hi, I'm Harsh Vardhan Singh. Nice to meet you.</h4>
              <span class="d-flex justify-content-center align-items-center"
                ><small class="margin-right">Python Developer</small
                ><a href = "https://akshitsingh07.github.io/aks.github.io/" target="_blank"><i class="ml-1 fa fa-info-circle text-success"></i
              ></a></span>
              <span class="address-content">Lucknow, Uttar Pradesh, India</span>
              <div class="content-aboutme mt-3 p-3">
                <h1>About Me</h1>
                <span
                  >Since beginning my journey as a Python Developer nearly 1
                  year ago, I'm quiet confident, naturally curious, and
                  perpetually working on improving my chops one design problem
                  at a time.</span
                >
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="p-3">
              <div class="d-flex justify-content-between align-items-center">
                <span class="fw-bold text-success">Portfolio</span>
              </div>
              <div class="portfolio-content mt-3">
                <p id="txtblack">
                  You can also call me a Python Developer or by any other market
                  defined function-title. I'm also a multi-disciplinary maker
                  with over 0-1 years of experiences in wide range of design
                  disciplines, front-end developer, music enthusiast, traveller,
                  photographer and more.
                </p>
                <p id="txtblack">
                  I don't like to define myself by the work I've done. I define
                  myself by the work I want to do. Skills can be taught,
                  personality is inherent. I prefer to keep learning, continue
                  challenging myself, and do interesting things that matter.
                </p>
                <p id="txtblack">
                  Fuelled by high energy levels and boundless enthusiasm, I'm
                  easily inspired and more then willing to follow my
                  fascinations wherever they take me. I'm passionate,
                  expressive, multi-talented spirit with a natural ability to
                  entertain and inspire. I'm never satisfied to just come up
                  with ideas. Instead I have an almost impulsive need to act on
                  them.
                </p>
                <p id="txtblack">
                  My abundant energy fuels me in the pursuit of many interests,
                  hobbies, areas of study and artistic endeavors. I'm a fast
                  learner, able to pick up new skills and juggle different
                  projects and roles with relative ease.
                </p>
                <p id="txtblack">
                  I like to develop expertise in a number of areas over the
                  course of my life and career. I'm currently working remotely
                  with a selected freelance client base and are open for new
                  opportunities.
                </p>
              </div>
              <div class="mt-2">
                <h5>Area of Expertise</h5>
                <div class="">
                  <span class="badge bg-danger mb-1">Python</span>
                  <span class="badge bg-danger mb-1">Django</span>
                  <span class="badge bg-danger mb-1">HTML</span>
                  <span class="badge bg-danger mb-1">CSS</span>
                  <span class="badge bg-danger mb-1">JavaScript</span>
                  <span class="badge bg-danger mb-1">JQuery</span>
                  <span class="badge bg-danger mb-1">AJAX</span>
                  <span class="badge bg-danger mb-1">CSS Bootstrap</span>
                  <span class="badge bg-danger mb-1">PHP</span>
                  <span class="badge bg-danger mb-1">SQL, SQLite</span>
                  <span class="badge bg-danger mb-1">Git</span>
                  <span class="badge bg-danger mb-1">Github</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      
</body>{%include 'ess_app/common/footer.html'%} 
    {%include 'ess_app/common/commonjs.html'%} 
</html>