<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esate Essentials</title>
    {%include 'ess_app/common/commoncss.html'%}
</head>
<body>
    {%include 'ess_app/common/navbar.html'%}
        <div class="card text-center" style="margin: 10%;">
            <div class="card-header">
              {{scheme_data.scheme_topic}}
            </div>
            <div class="card-body">
              <!-- <h5 class="card-title">Special title treatment</h5> -->
              <p class="card-text">{{scheme_data.scheme_contents}} </p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
            <div class="card-footer text-muted">
              {{scheme_data.date}}
            </div>
          </div>



    </div>
    {%include 'ess_app/common/footer.html'%}  
</body>
</html>